@font-face {
font-family: 'neue-pixel';
src: url('NeueBit-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'neue-reg';
  src: url('NeueMontreal-Regular.otf') format('opentype');

}

.body {
  background-color:  #edffed;
}
#edit-del-btn {
  float: right;
  width: 18px;
  margin-right: 20px;
}
#edit-del-btn:hover{
  cursor: pointer;
}
.entry {
  margin-right: 500px;
}
.input {
  font-size: 14px;
}
h1 {
  font-family: 'neue-reg', Fallback, serif;
  color:  #ff6100;
  font-size: 90px;
  letter-spacing: -1px;
  text-align: center;
}
#like-btn {
padding: 2px 8px;
background-color: #282828;
color: white;
border: 1px solid #282828;
border-radius: 2px;
font-size: 12px;
}
#like-btn:hover {
  background-color: #505050;
  border: 1px solid #505050;
  cursor: pointer;
  outline: #505050;
}
#date{
  font-size: 12px;
  font-family: helvetica;
  font-weight: 100;
}
#blog-header{
  font-size: 18px;
}
#create-submit {
  margin-top: 5px;
  background-color: #282828;
  color: white;
  border: 1px solid #282828;
  border-radius: 2px;
  padding: 2px 12px;
}
#create-submit:hover{
  background-color: #ff6100;
  border: 1px solid #ff6100;
  cursor: pointer;
  outline: #ff6100;
}
.blog-card{
  background-color: white;
}
#snippet-btn {
  margin-left: 80px;
  margin-top: 100px
}
