<button id="blogPostBtn" ng-click="ctrl.indexOfCreateFormToShow = $index" ng-if="$index !== ctrl.indexOfCreateFormToShow" type="button" name="button">New Blog Post</button>

<form class="mt-3" ng-submit="ctrl.createBlog()">
  <div class="form-group" ng-if="$index === ctrl.indexOfCreateFormToShow">

  <h4 id="blog-header">Blog Post</h4>
  <input class="mt-3 input" type="text" ng-model="ctrl.username" placeholder="Username"><br/>
  <input class="mt-3 input" type="text" ng-model="ctrl.img" placeholder="Image URL"><br/>


  <div class="mb-3 mt-3">
    <label for="validationTextarea">Say what you want!</label>
    <textarea ng-model="ctrl.entry" class="form-control" id="validationTextarea" placeholder="Write your message here" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>

    <button class="btn btn-outline-info" id="create-submit" type="submit" value="Post">Post</button>

    <button class="btn btn-outline-info" id="create-submit" ng-click="ctrl.indexOfCreateFormToShow = !$index">Cancel</button>

  </div>
</form>
